{
    "list": [
        {
            "id": "1",
            "name": "Desktop",
            "network": {
                "macAddress": "00:00:00:00:00:00",
                "ipAddress": "192.168.1.2"
            },
            "permittedUsers": [
                {
                    "id": "308994132968210433",
                    "permissions": {
                        "wol": true,
                        "ping": true
                    }
                }
            ]
        }
    ]
}